# Generador modelo predictivo clasificar animales

In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [3]:
datos_animales = pd.read_csv('dataset/zoo.csv')

In [4]:
datos_animales.head(10)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [5]:
clases_animales = pd.read_csv('dataset/class.csv',header=None)

In [57]:
clases_animales.head(30)

,0,1,2,3
0,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
1,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
2,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
3,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"
4,4,13,Fish,"bass, carp, catfish, chub, dogfish, haddock, h..."
5,5,4,Amphibian,"frog, frog, newt, toad"
6,6,8,Bug,"flea, gnat, honeybee, housefly, ladybird, moth..."
7,7,10,Invertebrate,"clam, crab, crayfish, lobster, octopus, scorpi..."

In [7]:
modelo = DecisionTreeClassifier();

In [8]:
X= datos_animales.drop(['animal_name','class_type','catsize'],axis=1)
y= datos_animales['class_type']

In [9]:
X.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0

In [10]:
y.head()

0    1
1    1
2    4
3    1
4    1
Name: class_type, dtype: int64

In [11]:
modelo.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [12]:
variables_dependientes = X.columns
variables_dependientes

Index(['hair', 'feathers', 'eggs', 'milk', 'airborne', 'aquatic', 'predator',
       'toothed', 'backbone', 'breathes', 'venomous', 'fins', 'legs', 'tail',
       'domestic'],
      dtype='object')

## Exportamos el modelo entrenado

In [13]:
from sklearn.externals import joblib

In [14]:
joblib.dump(modelo, 'pipeline_animales.pkl')

['pipeline_animales.pkl']

In [15]:
clf = joblib.load('pipeline_animales.pkl')

In [16]:
clf.predict(X)

array([1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 2, 4, 7, 7, 7, 2, 1, 4, 1, 2, 2,
       1, 2, 6, 5, 5, 1, 1, 1, 6, 1, 1, 2, 4, 1, 1, 2, 4, 6, 6, 2, 6, 2,
       1, 1, 7, 1, 1, 1, 1, 6, 5, 7, 1, 1, 2, 2, 2, 2, 4, 4, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 7, 4, 1, 1, 3, 7, 2, 2, 3, 7, 4, 2, 1, 7, 4, 2,
       6, 5, 3, 3, 4, 1, 1, 2, 1, 6, 1, 7, 2], dtype=int64)

In [17]:
info = {
'pelo' : 1,
'plumas' : 0,
'huevos' : 0,
'leche' : 1,
'vuela' : 0,
'acuatico' : 0,
'depredador' : 1,
'dientes' : 1,
'columnaVertebral' : 1,
'pulmones' : 1,
'venenoso' : 0,
'aletas' : 0,
'patas' : 4,
'cola' : 0,
'domestico' : 0
}
info

{'pelo': 1,
 'plumas': 0,
 'huevos': 0,
 'leche': 1,
 'vuela': 0,
 'acuatico': 0,
 'depredador': 1,
 'dientes': 1,
 'columnaVertebral': 1,
 'pulmones': 1,
 'venenoso': 0,
 'aletas': 0,
 'patas': 4,
 'cola': 0,
 'domestico': 0}

In [18]:
observacion = pd.DataFrame(info,index=[0])
observacion

,pelo,plumas,huevos,leche,vuela,acuatico,depredador,dientes,columnaVertebral,pulmones,venenoso,aletas,patas,cola,domestico
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0

In [20]:
var = modelo.predict(observacion)

In [21]:
var

array([1], dtype=int64)

In [22]:
var[0]

1

In [26]:
clases_animales[var[0]]

0    Number_Of_Animal_Species_In_Class
1                                   41
2                                   20
3                                    5
4                                   13
5                                    4
6                                    8
7                                   10
Name: 1, dtype: object

In [61]:
sol = clases_animales.loc[var[0],:]
sol

0                                                    1
1                                                   41
2                                               Mammal
3    aardvark, antelope, bear, boar, buffalo, calf,...
Name: 1, dtype: object

In [56]:
var = 'The class of the animal is: ' 
        + animalPredicho[2] + ' and the are ' 
        + animalPredicho[1]
        + ' species in the zoo. Some examples of those animals are: ' 
        + animalPredicho [3]
        
        return render_template('respuesta_animal.html',animal=var)

SyntaxError: invalid syntax (<ipython-input-56-cd78a7fadf57>, line 1)